/*whole page*/
body{
    margin: 0;
    padding: 0;
    background: #E1E2E4;
}
hr{
    margin-top: 70px;
    margin-bottom: 30px;
}
.hr1{
    margin-top:0;
}
.container {
    color: #000;
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    position: relative;
}
/*Navigation menu*/
.nav {
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: #9CAEA9;
    color: black;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.nav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-centered a:hover {
    background-color: #9CAEA9;
    color: black;
}
.nav-right {
    float: right;
}
@media screen and (max-width: 600px) {
    .nav a, .nav-right {
      float: none;
      display: block;
    }
    .nav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}
/*fill out form*/
.form{
    margin:0px;
}
.event-type,
.event-number,
.event-location,
.date,
.event-time{
    margin-left: 100px;
    margin-bottom: 2%;
}
input[type=location] {
    width: 100%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #E1E2E4;
    background-image:url('location.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
input[type=event-location] {
    width: 30%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    background-image:url('location.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
input[type=type] {
    width: 100%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #E1E2E4;
    background-image:url('megaphone.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
input[type=event-type] {
    width: 65%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    background-image:url('megaphone.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}

input[type=number] {
    font-family: 'Comfortaa';
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #E1E2E4;
    background-image:url('people.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
input[type=event-number] {
    font-family: 'Comfortaa';
    font-style: normal;
    width: 55%;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    background-image:url('people.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
input[type=start-time],
input[type=end-time] {
    width: 45%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    background-image:url('time.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
    margin-right:2%;
}
input[type=date] {
    width: 50%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    background-image:url('calendar.png');
    background-position: 10px 13px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
}
.fieldset{
    border: none;
    width: 458px;
    height: 270px;
    margin-left: 82px;
    margin-bottom: 5%;
    background: #FFFFFF;
    border-radius: 46px;
}
.fieldset-search{
    border: none;
}
.fieldset-box{
    border: none;
    width: 570px;
    height: 450px;
    margin-left: 82px;
    background: #9CAEA9;
    border-radius: 46px;
}
.flexContainer{
    display: flex;
    flex-direction: row;   
}
.flexContainer div{
    flex-basis: 50%;
}
.button {
    font-family: 'Comfortaa';
    font-style: normal;
    background-color: #CCDAD1;
    border: none;
    color: #686868;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
}
.button:hover {opacity: 1}
.button-wrapper{
    text-align: center;
}
.block1{
    width: 458px;
    height: 91px;
    margin-left: 82px;
    margin-bottom: 10px;
    text-align: center;
}
.block1-text-search,
.catering,
.layout{
    
    width: 600px;
    height: 151px;
    margin-left: 100px;
}
/*images*/
.vector-image{
    width: 946px;
    height: 448px;
    background: url(image.png);
    margin-top: -100px;
}
footer{
    margin-top: 20px;
    padding: 40px 20px;
    text-align: center;
    background: #3333;
}
.container-box {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-bottom: 15px;
    padding-right: 45px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
  }
  .container-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid #686868;
  }
  .container-box:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container-box input:checked ~ .checkmark {
    background-color: #9CAEA9;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container-box input:checked ~ .checkmark:after {
    display: block;
  }
  .container-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  input[type=name],
  input[type=company-name],
  input[type=email],
  input[type=phone-number] {
    font-family: 'Comfortaa';
    font-style: normal;
    width:250px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffffff;
    padding-left: 5px;
    margin-bottom: 15px;
}
.form-item{
    padding-left: 3%;
}
.fieldset-sign-in{
    border: none;
    width: 458px;
    height: 200px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 46px;
}
input[type=username],
input[type=password] {
    width: 45%;
    font-family: 'Comfortaa';
    font-style: normal;
    box-sizing: border-box;
    border: 1px solid #686868;
    border-radius: 46px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px;
    margin-right:2%;
}
